
<div id="projects">
<ul>    
    <% FOREACH project IN projects %>
    <li class="project">
        <img src="<% project.thumbnail %>">
        <h3><a href="/project/<% project.id %>" class="project_name"><% project.name %></a></h3>
        <p> by <% project.user.id %></p>
        <p class="sweet-justice"><% project.description %></p>
    </li>
    <% END %>
</ul>
</div>