
<header>
    <h2><% project.name %></h2>
</header>

<div class="project details">
<img src="<% project.thumbnail %>">
<p class=" sweet-justice"><% project.full_description %></p>
</div>

<div class="project breakout">
    <dl>
        <dt>Owner:</dt><dd><% project.owner %></dd>
        <dt>Category:</dt><dd><% project.category %></dd>
        <dt>Goal:</dt><dd><% project.goal %></dd>
        <dt>Level:</dt><dd><% project.level %></dd>
    </dl>
</div>