

<% INCLUDE login.tt %>

<div id="register">
<form method="POST" class="login">
<div class="input"><label>Username</label><input type="text" name="username" ></div>
<div class="input"><label>Password</label><input type="password" name="password" ></div>
<div class="input"><label>Confirm Password</label><input type="password" name="confirm" ></div>
<div class="submit"><input type="submit" name="go" style=""></div>
<input type="hidden" name="next" value="<% next_resource %>">
</form>
</div>